
.HouseListing_Container {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  width: 400px;
}

.HouseListing_Container form {
  display: flex;
  flex-direction: column;
}

.HouseListing_Container label {
  margin-top: 10px;
  font-weight: bold;
}

.HouseListing_Container input,
.HouseListing_Container select {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.HouseListing_Container button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.HouseListing_Container button[type="submit"]:hover {
  background-color: #45a049;
}

.HouseListing_Container input[type="url"]::placeholder {
  color: #999;
}

.HouseListing_Container input[type="number"]::-webkit-inner-spin-button,
.HouseListing_Container input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
